<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>いいね一覧</h2>
    </div>
  </div>

  <div class="row">
    <% @favorite_recruitments.each do |recruitment| %>
      <div class="col-5 p-2 text-right">
        <%= image_tag recruitment.customer.get_profile_image(50,50) %><br>
        <%= recruitment.customer.name %>
      </div>
      <div class="col-6 p-2 text-left">
        <p>
          募集内容：<%= recruitment.recruitment_letter %><br>
          プレイスタイル：<%= recruitment.style.name %><br>
          募集時間：<%= recruitment.play_time.name %>
        </p>
      </div>
    <% end %>
  </div>
</div>


