<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>マイページ</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 p-2 text-center">
      <%= search_form_for @q, url: search_public_customers_path do |f| %>
        <%= f.search_field :name_cont, placeholder: "ユーザー名" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 text-center">
      <h3><%= @customer.name %></h3>
        <%= image_tag @customer.get_profile_image(100,100) %>
        <% if @customer == current_customer %>
          <p><%= link_to "プロフィール編集", edit_public_customer_path(@customer.id) %></p>
        <% end %>
    </div>
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>募集内容</th>
            <th>いいね数</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @recruitments.each do |recruitment| %>
            <tr>
              <td><%= recruitment.id %></td>
              <td><%= link_to recruitment.recruitment_letter, public_recruitment_path(recruitment.id) %></td>
              <td><%= recruitment.favorites.count %>いいね</td>
              <td><%= recruitment.comments.count %>コメント</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>