<div class="container">
	<%= render "public/shared/flash" %>
	<div class="row">
		<div class="col-12 p-3 text-center">
			<h2>募集一覧</h2>
		</div>
	</div>
	<div class="row">
		<% @recruitments.each do |recruitment| %>
			<div class="col-4 d-flex flex-row mb-3 p-2 bd-highlight" >
				<%= link_to public_recruitment_path(recruitment.id) do %>
					<%= image_tag recruitment.customer.get_profile_image(50,50) %>
					<p>
						募集内容：<%= recruitment.recruitment_letter %><br>
						プレイスタイル：<%= recruitment.style.name %><br>
						募集時間：<%= recruitment.play_time.name %>
					</p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>