<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>新規登録</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2 text-center">
      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="field mb-3">
          <%= f.label :名前, class: "col-2" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-2" %>
        </div>

        <div class="field mb-3">
          <%= f.label :メールアドレス, class: "col-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-2" %>
        </div>

        <div class="field mb-3">
          <%= f.label :パスワード %>
            <% if @minimum_password_length %>
              <em class="col-2">(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field mb-3">
          <%= f.label :パスワード確認, class: "col-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-2" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2 text-center">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
