<div class="container">
  <div class="row">
    <div class="col-12 p-3 text-center">
      <h2>ログイン</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2 text-center">
      <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
        <div class="field mb-3">
          <%= f.label :名前, class: "col-2" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-2" %>
        </div>

        <div class="field mb-3">
          <%= f.label :メールアドレス, class: "col-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-2" %>
        </div>

        <div class="field mb-3">
          <%= f.label :パスワード, class: "col-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-2" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center p-2">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>